<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <!-- Allow querying all launchable apps for the session dock -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <!-- Specific packages for direct lookups -->
        <package android:name="com.android.browser" />
        <package android:name="com.android.settings" />
        <package android:name="com.spotify.music" />
        <package android:name="com.truerowing.crew" />
        <package android:name="com.netflix.mediaclient" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.hulu.plus" />
        <package android:name="com.disney.disneyplus" />
        <package android:name="com.hbo.hbonow" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RowPlus">

        <service
            android:name=".MetricsOverlayService"
            android:exported="false" />

        <activity
            android:name=".PostRowActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".SessionActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".PreRowActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
